/* CSS Document */

h1 {position: relative;}
#circle {display: none; float: right; font-size: 30px;}

#ProgressStatus {display: none; position: absolute; z-index: 2; top: 2px; right: 8px; font-size: 12px; font-weight: bold;}

.table1 th + th {text-align: center; width: 200px;}
.table1 td + td {text-align: center;}

.table1 td strong {color:#228822;}

.cron-locked {color:#BC2A4D;}

.fa-arrow-up, .fa-arrow-down {float:right; color:#fff; padding: 0 2px;}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    table.responsive.show-header thead, table.responsive.show-header th {
		display: block;
		width: auto !important;
		text-align: left !important;
		margin: 0;
	}
}

#act-arrow {color:#CECECE;}

#LoadError, #LoadErrorTimeout, #LoadPageError {display: none;}
#LoadError {position: absolute; z-index: 2; top: 0; right: 0;}
#LoadError i {display: inline-block; margin-right: 5px;}

.cron_run {float: right; color: #105289; cursor: pointer; display: none;}
.cron_run:hover {color: #bc2a4d; text-decoration: underline;}
.cron_run_link, .cron_running_update {float: right;}
.cron_running {float: right; display: none;}
