/* CSS Document */

h1 {position: relative;}
#circle {float: right; font-size: 30px;}

#ProgressStatus {position: absolute; z-index: 2; top: 2px; right: 8px; font-size: 12px; font-weight: bold;}

.table1 th + th {text-align: center; width: 200px;}
.table1 td + td {text-align: center;}

.table1 td strong {color:#228822;}

.fa-lock {color:#BC2A4D;}